{% extends "layout.html" %}
{% block content %}

<style type="text/css">
.yes {color:green;}
.no {color:red;}
table {border: 1px solid #999;}
table th {border-bottom: 1px solid #999;}
table tr.highlight_row td {background:#ffffcc !important;}
</style>
<script type="text/javascript">
$(document).ready(function() {
    $("#uploads_table tr").hover(
        function() {
            $(this).addClass("highlight_row");
        },
        function() {
            $(this).removeClass("highlight_row");
        }
    );
          // make the time/date picker
          //
          $('.date_picker').calendricalDate({ usa: true });

          // bind up form validation checker
          //
          $("form#data_request_form").submit(function() {
                  var $date_picker = $("form#data_request_form.date_picker");

                  if ($date_picker.val() == "" || $time_picker.val() == "") {
                          // show error message
                          if ($date_picker.val() == "")
                                  $date_picker.addClass("invalid_field");
                          else
                                  $date_picker.removeClass("invalid_field");

                          if ($time_picker.val() == "")
                                  $time_picker.addClass("invalid_field");
                          else
                                  $time_picker.removeClass("invalid_field");

                          return false;
                  }
          });

});


</script>


<h2 style="margin-bottom:0;">View Deployment: {{ dep_id }}</h2>
<div class="breadcrumbs">
<a href="{% url SuryaWebPortal.views.debug.debug.deployments %}">Deployments</a>
&nbsp;&raquo;&nbsp;
View Deployment: {{ dep_id }}
</div>
<br />


<div id="schedule_add_dialog" class="column_dialog">
    <form id="data_request_form" action="{% url data_download dep_id %}"  method=POST>
      {% csrf_token %}
        <table class="form_table">
	  {{ form.as_table }}
	  <tr>
	    <th></th>
	    <td>
	      <input type="submit" name="data_request" value="Download CSV">
	    </td>
	    </tr>
	</table>
    </form>
</div>

<br><br>

<div class="pagination">
  <span class="step-links">
    <a href="?date={{ prevday }}&byrecord={{ byrecord }}">&larr; prev</a> || <a href="?date={{ nextday }}&byrecord={{ byrecord }}">next &rarr;</a>
  </span>
</div>
<br>

<table id="uploads_table">
  <tr>
    <th>Submission Date:</th>
    {% for d in datestrs %}
    <th>{{ d }}</th>
    {% endfor %}
  </tr>
  <tr class="{% cycle 'odd' 'even' %}">
    <td>Upload Count:</td>
    {% for c in datecounts %}
    {% if c.0 == 0 %}
    <td>0</td>
    {% else %}
    <td><a href="{% url SuryaWebPortal.views.debug.debug.view_deployment_day dep_id c.1.year c.1.month c.1.day %}?byrecord={{ byrecord }}">{{ c.0 }}</a></td>
    {% endif %}
    {% endfor %}
  </tr>
</table>

<div class="pagination">
  <span class="step-links">
    <a href="?date={{ prevday }}&byrecord={{ byrecord }}">&larr; prev</a> || <a href="?date={{ nextday }}&byrecord={{ byrecord }}">next &rarr;</a>
  </span>
</div>
<br>


{% if byrecord %}
<h3>NOTE: the data in the grid above is now grouped by the Record Datetime which is the time the picture was taken (extracted form the EXIF data in the image). Previous it was grouped by the Server Datetime which is the time the picture was uploaded. You can switch back to the old view by <a href="{% url SuryaWebPortal.views.debug.debug.view_deployment_grid dep_id %}?byrecord=False">clicking here</a></h3>
{% else %}
<h3><a href="{% url SuryaWebPortal.views.debug.debug.view_deployment_grid dep_id %}?byrecord=True">Click here to switch back to view by Record Datetime instead of Server Datetime</a></h3>
{% endif %}


<br><br><br>
Download sorted by Record Datetime, not Server Datetime:

<div id="schedule_add_dialog" class="column_dialog">
    <form id="data_request_form" action="{% url data_download_recordsort dep_id %}"  method=POST>
      {% csrf_token %}
        <table class="form_table">
	  {{ form.as_table }}
	  <tr>
	    <th></th>
	    <td>
	      <input type="submit" name="data_request" value="Download CSV">
	    </td>
	    </tr>
	</table>
    </form>
</div>


{% endblock %}

